
.field {
    display: flex;
    flex-direction: column;
}

.field textarea {
    width: 250px;
    height: 100px;
}

.error textarea,
.error input {
    border: 1px solid red;
}

.error .errorNote {
    color: red;
}