.Root {
    display: flex;
    padding: 30px;
}

.img {
    width: 100px;
}

.bg {
    width: 700px;
    height: 200px;
}

.List {
    padding-left: 0;
    list-style-type: none;
}

.List__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.List__title {
    margin-right: 10px;
    color: #fff;
}