.preloader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color: aqua;
}