.Root {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f7b3a7;
    align-items: center;
}

.Logo {
    width: 50px;
}

.button {
    width: 200px;
    height: 40px;
    border: none;
    background-color: blueviolet;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
}