.Root {
    display: flex;
    width: 300px;
    flex-direction: column;
}

.textarea {
    height: 100px;
    margin-bottom: 20px;
    font-size: 17px;
    resize: none;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    background-color: #262626;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}