.Root {
    display: flex;
    list-style-type: none;
}

.Root img {
    width: 50px;
    margin-right: 20px;
}

.like {
    display: block;
    margin-right: 5px;
    color: tomato;
    font-size: 20px;
}