
.container {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
  "h h"
  "s c"
  "f f";
  min-height: 100vh;
  height: 100%;
}

.content {
  grid-area: c;
  background-color: pink;
}
